<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width"/>
    <title>BootStrap</title>
    <script>


    </script>
    
</head>
<body>
<div id="DatePickerPopup">
    <div class="row">
        <div class="col-lg-6 text-center center-block">
            <h2>Commit</h2>
            <p>
               
                <span id="clearCommit" class="glyphicon glyphicon-remove"></span>
                    
            </p>
                
            <div id="commitDatePicker" class="datepicker" data-date= null>
            </div>

            <div class="buttonrow">
                <p id="isAcculizedtext" class="col-lg-8">
                    Acculized?
                </p>
                    

            </div>
        </div>
        <div class="input-group date col-lg-3">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
    </div>
</div>

</body>
</html>